
/* PROTECTIVE DIARY CSS */

    table {
        border-collapse: collapse;
        width: 100%;
        font-family: Consolas, monaco, monospace;
        font-size: 10px;
      }
    th, td {
        text-align: left;
        padding: 8px;
    }
    th {
        background-color: #757575;
        color: white;
    }
    tr:nth-child(even){background-color: #f2f2f2}
    tr:nth-child(odd){background-color: #ffffff}

    .logo {
        background-color: #4CAF50; /* Green #757575; /* Grey */
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;

        -moz-transition: 0.25s linear;
        -ms-transition: 0.25s linear;
        -o-transition: 0.25s linear;
        -webkit-transition: 0.25s linear;
        transition: 0.25s linear;
    }

    .logo:hover
    {
        /*background-color: #9aa4b1;*/
        background-color: #4CAFFF;
    }

    body {
        background-color: #11110F;
        font-family: Consolas, monaco, monospace;
        font-size: 12px;
    }

    .axis--x path {
      display: none;
    }

    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }
